@import "colors";

html,
body {
	background-color: #fff;
}

body * {
	box-sizing: border-box;
	font-family: "Helvetica Neue", sans-serif;
}

body > h1,
body > h4,
body > div {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

input,
select {
	outline: 0;
}

.select2 {
	width: 8em !important;
}

@import "title";

h4 {
	color: darken($mediumgray, 20%);
	border-bottom: 1px solid lighten($mediumgray, 20%);
	margin-bottom: .5em;
	padding-bottom: .2em;
}

h4:nth-of-type(2) {
	margin-top: 4em;
}

@import "ticketentry";

@import "savedtickets";

@import "balls";