@keyframes loading {
	0%   { color: #666; }
	25%  { color: #888; }
	50%  { color: #bbb; }
	75%  { color: #888; }
	100% { color: #666; }
}

h1 {
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;

	& > div {
		line-height: 28px;
		margin-top: .2em;
		padding: 0;
	}

	& span {
		color: #666;
		font-size: 36px;
		padding-right: .3em;
	}

	& .loading {
		animation-name: loading;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	& em {
		color: #888;
		font-size: 24px;
		font-style: normal;
	}
}